#header,
#footer{
  width: 1920px;
  height: 30px;
  background-color: gray;
  margin-bottom: 10px;
}
#nav{
  float: left;
  width: 120px;
  margin-right: 10px;
  border: 1px solid #000;
  margin-left: 2%;
  padding: 10px;
}
#aside{
   width: 150px;
   border: 1px solid #000;
   float: right;
}
#article{
  margin-top: 40px;
  float:right;
  border: 1px solid #000;
  margin-right: 160px;
  margin-left: 130px;
#separator{
  float:both;
}
#обтекание{
float:right;
margin-right: 10 px;
width: 10%;
height: 10%;
position: absolute;
}